.bg-pokedex {
    background-color: #c71133;
    color: #fff;
}

.pokedexHeaderSection {
    padding: 20px;
}

.circle-header-pokedex {
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.pokedexMainSection {
    padding: 20px;
}

.square-main-pokedex-primary {
    background: gray;
    width: 100%;
    height: 200px;
    position: relative;
}

.square-main-pokedex-secondary {
    background: lightblue;
    width: 50px;
    height: 50px;
    position: absolute;
}